extends ./layout/index

block contenido
    .container.mt-3
        .row
            .col-3
            .col-6
                h1.text-center #{pagina}
            .col-3.text-end.d-flex.align-items-center.justify-content-end.pb-2
                button(type="button", class="btn btn-pink", data-bs-toggle="modal", data-bs-target="#addViajeModal") Añadir Viaje
                
    main.container.mt-3
        include ./layout/layaout_viajes
    include ./layout/modal_viaje
    // Script para abrir el modal si showModal es verdadero
    if showModal
        script.
            document.addEventListener('DOMContentLoaded', function() {
                var myModal = new bootstrap.Modal(document.getElementById('addViajeModal'));
                myModal.show();
            });