.modal.fade(id="addViajeModal", tabindex="-1", aria-labelledby="addViajeModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h5.modal-title(id="addViajeModalLabel") Añadir Viaje
                button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
            .modal-body
                form(action="/viajes", method="POST")
                    .mb-3
                        label(for="titulo") Título
                        input.form-control(type="text", id="titulo", name="titulo", required)
                    .mb-3
                        .row
                            .col
                                label(for="precio") Precio
                                .input-group
                                    input.form-control(type="text", id="precio", name="precio", required)
                                    span.input-group-text
                                        | €
                            .col
                                label(for="disponibles") Disponibles
                                .input-group
                                    input.form-control(type="text", id="disponibles", name="disponibles", required)
                                    span.input-group-text
                                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' width='16' height='16' stroke-width='2')
                                            path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                                            path(d='M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0')
                    .mb-3
                        .row
                            .col
                                label(for="fecha_ida") Fecha de Ida
                                input.form-control(type="date", id="fecha_ida", name="fecha_ida", required)
                            .col
                                label(for="fecha_vuelta") Fecha de Vuelta
                                input.form-control(type="date", id="fecha_vuelta", name="fecha_vuelta", required)
                    .mb-3
                        .row
                            .col
                                label(for="imagen") Imagen
                                input.form-control(type="text", id="imagen", name="imagen", required)
                            .col
                                label(for="slug") Slug
                                input.form-control(type="text", id="slug", name="slug", readonly)
                    .mb-3
                        label(for="descripcion") Descripción
                        textarea.form-control(id="descripcion", name="descripcion", required)
                    .mb-3.text-end
                        button.btn.btn-pink(type="submit") Guardar Viaje

script.
    document.getElementById('titulo').addEventListener('input', function() {
        const titulo = this.value;
        const slug = titulo.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
        document.getElementById('slug').value = `viaje-${slug}`;
    });